.footermain{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}
.innerfooter{
    width: 90%;
    height: 65vh;
    /* border: 1px solid yellow; */
    display: flex;
}
.leftfooter{
    width: 50%;
    /* height: 50vh; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* border:1px solid green ; */
}
.rightfooter{
    width: 50%;
    /* height: 50vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:1px solid #312923; */
}

.riughtjhv{
width: 90%;
height: 60vh;
    /* border:1px solid #312923; */
}
.riughtjhv img{
    width: 100%;
    height: 100%;
}
.dtrcyu{
    width: 65%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}
@media (max-width:900px) {
    .innerfooter{
        display: inline;
    height: auto;
    }
    .rightfooter{
        width: 100%;

    }
    .leftfooter{
        width: 100%;
    }
    .rightfooter{
        margin-top: 50px;
    }
}